@import "./fonts.scss";
@import "./navbar.scss";
@import "./search.scss";
@import "./sidebar.scss";

:root {
  --ifm-color-primary: var(--blue-600);
  --ifm-font-family-base: SourceSansPro, sans-serif;
}

strong {
  font-weight: 600;
}

[data-theme="light"] {
  --border: var(--steel-200);
}
[data-theme="dark"] {
  --ifm-color-primary: var(--blue-400);
  --border: var(--steel-500);
}
html[data-theme="dark"] {
  background-color: #0a0f25;
}
/* Not sure why but data-theme has to be first here. */
[data-theme="dark"] .navbar {
  background-color: #0a0f25;
  border-bottom: solid #606770 1px;
}

img {
  /* Not sure why this isn't default...
   * Matches the margin-bottom on paragraphs. */
  margin-bottom: 20px;
}

.embedSVG {
  display: flex;
  margin-bottom: 20px;
}

.embedSVG svg {
  max-height: 500px;
  margin: 0 auto;
}

.markdown {
  h2 {
    --ifm-h2-font-size: 1.5rem;
  }
}

.pagination-nav__label {
  font-weight: 600;
}

.DocSearch-Button-Placeholder {
  display: flex !important;
}

.table-of-contents__left-border {
  border: none;
}

.table-of-contents {
  padding: 0;

  li {
    border-left: 1px solid var(--border);
    padding-left: 0.5rem;
    margin: 0.3rem;
  }
}

.table-of-contents__link {
  color: var(--ifm-font-color-base);
}
