html[data-theme="light"] {
  --navbar-text-color: var(--steel-900);
  --navbar-hover: var(--steel-100);
  --icon-link-hover: var(--steel-100);
  --icon-link-active: var(--blue-100);
}

html[data-theme="dark"] {
  --navbar-text-color: var(--steel-100);
  --navbar-hover: var(--steel-800);
  --icon-link-hover: var(--steel-800);
  --icon-link-active: var(--blue-700);

  .navbar {
    .icon-link img {
      filter: brightness(0) invert(1);
    }
  }
}

//overrides
#__docusaurus {
  .navbar {
    &__inner {
      width: initial;
      flex-grow: 1;
      flex-wrap: nowrap;
    }

    &__item {
      display: flex;
      align-items: center;
    }

    &__items {
      min-width: auto;
      gap: 1rem;

      @media (max-width: 996px) {
        gap: 0;

        &:not(.navbar__items--right) {
          .navbar__link.navbar__item {
            display: none;
          }
        }
      }
    }

    .icon-link {
      width: 1.75rem;
      height: 1.75rem;
      padding: 0;
      margin: 0.5rem 0;

      img {
        width: 70%;
        height: 70%;
        margin: 0;
      }
    }

    &__items--right {
      display: flex;
      flex-grow: 1;
      gap: 1rem;
      align-items: center;
      height: 100%;

      @media (max-width: 996px) {
        gap: 0.5rem;
      }

      .navbar__link {
        display: flex;
        align-items: center;
        margin-top: 0;
        font-weight: 600;
        color: var(--navbar-text-color);

        &:hover {
          background: var(--navbar-hover);
        }

        @media (max-width: 996px) {
          display: none;
        }
      }

      .icon-link {
        padding: 0;
        display: flex;
        border-radius: 4px;
        background: transparent;
        position: relative;
        justify-content: center;
        align-items: center;

        transition: opacity 0.2s ease-out;

        &:hover {
          background: var(--icon-link-hover);
        }
        &:active {
          background: var(--icon-link-active);
        }

        @media (max-width: 996px) {
          display: none !important;
        }
      }

      a {
        //search icon
        &:nth-of-type(1) {
          order: 5;
        }

        //discord icon
        &:nth-of-type(2) {
          order: 6;
        }

        //github icon
        &:nth-of-type(3) {
          order: 7;
        }
      }
    }

    &__link {
      font-weight: 500;
      line-height: 17px;
      height: 2rem;

      &:not(.navbar__link--active) {
        color: var(--navbar-text-color);
      }
    }
  }
}
