.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 0.5rem;
}

.tableOfContentsHeader {
  font-weight: 600;
  margin-left: 0.25rem;
  color: var(--ifm-font-color-base);
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
