html[data-theme="light"] {
  --circles-opacity: 100%;
}

html[data-theme="dark"] {
  --circles-opacity: 33%;
}

.DirectoryBanner {
  height: 15rem;
  background: var(--directory-gradient);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  position: relative;

  @media (max-width: 996px) {
    padding: 1rem 2rem;
  }

  h1 {
    font-size: 2rem;
    margin: 0 !important;

    @media (max-width: 996px) {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
  }

  img {
    margin: 0;
  }

  &__Icon {
    @media (max-width: 996px) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__Circles {
    position: absolute;
    bottom: 0;
    opacity: var(--circles-opacity);
  }
}
