:root {
  --ifm-color-primary: #4a6ff3;
}

[data-theme="dark"] {
  --ifm-color-primary: #4a6ff3;
}
html[data-theme="dark"] {
  background-color: #0a0f25;
}
/* Not sure why but data-theme has to be first here. */
[data-theme="dark"] .navbar {
  background-color: #0a0f25;
  border-bottom: solid #606770 1px;
}

img {
  /* Not sure why this isn't default...
   * Matches the margin-bottom on paragraphs. */
  margin-bottom: 20px;
}

.embedSVG {
  display: flex;
  margin-bottom: 20px;
}

.embedSVG svg {
  max-height: 500px;
  margin: 0 auto;
}
